@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

// :root {
//     --animate-delay: 0.5s;
//   }

* {
    margin: 0 auto;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    line-height: 1;
    font-family: "Montserrat Regular";
}

body {
    min-height: 100vh;
    background-color: #a4e2ff;
}