@import "./animation";

.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    background-image: url(./images/BG_frame.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;


    section {
        width: 100%;
        position: relative;
        // overflow: hidden;
    }

    .section::before,
    .section::after {
        content: '';
        width: 100%;
        position: absolute;
        background-size: 100% auto;
        z-index: -1;
    }

    //----------------------------------------------SECTION-HERO-----------------------------------//
    .section-hero::before {
        width: 100%;
        height: 100%;
        background-image: url(/images/bg-top-hero.png);
        background-repeat: no-repeat;
        // top: 3vh;
    }

    .section-hero::after {
        min-height: 80px;
        width: 100%;
        height: 100%;
        background-image: url(images/footer.png);
        background-repeat: no-repeat;
        bottom: 0;
        background-position: bottom;
    }

    .section-hero {
        min-height: 120vh;

        padding-bottom: 9%;

        .border-top {
            width: 100%;
            height: 4vh;
            background-image: url("images/BG_1_01.jpg");
            background-repeat: no-repeat;
            border-top: none !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }

        &-top {
            position: relative;
            text-align: center;
            padding-top: 110px;
            padding-bottom: 259px;

            .character {
                &-left {
                    position: absolute;
                    left: 30px;
                    top: 3.5vh;
                    z-index: -1;
                }

                &-right {
                    position: absolute;
                    right: 30px;
                    top: 3.5vh;
                    z-index: -1;
                }
            }

            .active-left {
                animation-name: scaleleft;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-delay: 0s;
            }

            .active-right {
                animation-name: scaleright;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-delay: 0s;
            }
        }

        .container {
            .section-hero {
                &-title {
                    height: 17.9vh;
                    width: auto;
                    margin-top: -16px;
                }

                &-scrolldown {
                    position: relative;
                    text-align: center;
                    z-index: 2;
                    margin-top: 24px;
                }

                &-video {

                    background-image: url(images/S1_Videoframe.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    padding: 3.7vh 3.6vh 3.3vh 3.6vh;
                    display: inline-block;
                    animation-delay: 0.5s;
                    position: relative;

                    &_play,
                    &_replay {
                        position: absolute;
                        top: calc(50% - 0.4vh);
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        pointer-events: auto;
                        z-index: 99;
                        display: none;
                    }

                    img {
                        vertical-align: middle;
                        border-style: none;
                    }

                    video {
                        width: auto;
                        height: 42.7vh;
                    }
                }
            }
        }
    }


    //----------------------------------------------SECTION-RULES-----------------------------------//
    .section-rules::before {
        min-height: 100%;
        background-image: url(/images/BG_3.png);
        background-repeat: no-repeat;

    }

    .section-rules {
        &-title {
            padding: 67px 0 6px;
        }

        &-steps {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            width: 100%;
            padding: 53px 48px 60px;
            transform: translateY(55px);

            &-col img {
                min-height: 198px;
                width: 100%;
                object-fit: cover;
            }
        }

        &-steps::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url(images/S3_Box.png);
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: -2;
        }

        &-boy {
            position: absolute;
            bottom: 290px;
            z-index: -3;
        }

        .left {
            left: 50px;
        }

        .right {
            right: 50px;
        }


        .gaming-play {
            padding: 80px 0 50px 0;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: -4px;
                right: -4px;
                top: -10px;
                bottom: 0;
                background: #00042b;
                z-index: -1;


            }

            &_title {
                max-width: 45%;
                padding-bottom: 40px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    // object-fit: cover;
                }
            }

            &_image {
                width: 100%;
                min-height: 85px;
                margin: 0 auto;
                animation: pulse 1s infinite;
                cursor: pointer;
            }
        }

    }








    //----------------------------------------------SECTION-COLLECTOR-----------------------------------//
    .section-collector {
        // padding-top: 50px;
        position: relative;
        max-width: 100%;
        min-height: 194vh;

        &::before {
            content: "";
            width: 100%;
            min-height: 100%;
            background-image: url(images/BG_4.png);
            background-size: 100% auto;
            position: absolute;
            top: 0;
            z-index: -99;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        &-top {
            position: relative;
            text-align: center;
            padding-top: 110px;
            padding-bottom: 115px;
        }

        &-left {
            position: absolute;
            left: 45px;
            top: -24px;
            z-index: -2;
        }

        &-center {
            position: relative;
            height: 250px;
            object-fit: contain;
            z-index: 1;
        }

        &-right {
            position: absolute;
            right: 45px;
            top: 37px;
            z-index: -2;
        }

        &-image-title {
            padding-bottom: 44px;
        }

        &-click-season {
            padding: 0 0 20px;
        }

        .season-group {
            position: relative;
            height: 1026px;
            width: 100%;

            .season-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                width: 100%;
                height: 66px;
                z-index: 999;
                top: 6px;

                &-left,
                &-right {
                    flex: 0 0 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

            }

            &-2.active {
                z-index: 2;
            }

            &-2.hide {
                z-index: 1;
                filter: brightness(0.7);
            }

            &-2 {
                background-image: url(images/bg-season-2.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 98%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;

                .carousel {
                    overflow: hidden;
                }

                .content-carousel {
                    width: 100%;
                    min-height: 753px;
                    max-height: 800px;
                }
            }

            &-1.active {
                z-index: 2;

            }

            &-1.hide {
                z-index: 1;
                filter: brightness(0.7);
            }

            &-1 {
                background-image: url(images/bg-season-1.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 98%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                .carousel {
                    overflow: hidden;
                }

                .content-carousel {
                    width: 100%;
                    min-height: 753px;
                    max-height: 800px;
                }
            }

            .content-season {
                margin-top: 90px;
                width: 100%;
                height: 100px;

            }
        }

        &-download,
        .img-prev,
        .img-next {
            animation: pulse 1s infinite;
        }

    }

    .section-battle {
        width: 100%;
        min-height: 100vh;
        padding-top: 6%;
        padding-bottom: 12%;
        position: relative;
        // z-index: -1;

        &::before {
            content: "";
            width: 100%;
            min-height: 100%;
            background-image: url(images/BG_2.png);
            background-size: 100% auto;
            background-position-y: -156px;
            position: absolute;
            top: 0;
            // z-index: -99;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        &::after {
            min-height: 80px;
            background-image: url(images/footer.png);
            background-repeat: no-repeat;
            bottom: 0;
            background-position: bottom;
        }

        &-title {
            margin-bottom: 3%;
        }

        &-video {
            display: inline-block;
            background-image: url(images/S2_Videoframe.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            padding: 35px 32px 32px 34px;
            margin-bottom: 6%;
        }

        &-video_play,
        &-video_replay {
            position: absolute;
            top: calc(50% - 0.3%);
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            pointer-events: auto;
            z-index: 99;
            display: none;
        }

        video {
            width: auto;
            height: 45vh;
        }

        .play-banner {
            position: relative;
            max-width: 782px;
            margin: 0 auto;

            .bg-play {
                width: 100%;
                position: relative;
            }

            .section-battle-play-game {
                position: absolute;
                width: 100%;
                text-align: center;
                left: 0;
                bottom: 34px;
                cursor: pointer;

            }

            .d-inline-block {
                display: inline-block !important;
                animation: pulse 1s infinite;

            }


        }


        /* The Modal */
        .modal {
            padding-top: 50px;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal__content {
            width: 595px;
            height: 833px;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: url(images/game-frame.png) center no-repeat;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: -2;
                background-size: 100% 100%;

            }
        }

        // /* Modal Content */
        // .modal__content {
        //     position: relative;
        //     object-fit: cover;
        //     margin: auto;
        //     height: 893px;
        //     width: 595px;
        //    
        //     background-image: url(./images/game-frame.png);
        //     background-repeat: no-repeat;
        //     background-size: cover;


        // }


        // .close:hover,
        // .close:focus {
        //     color: #000;
        //     text-decoration: none;
        //     cursor: pointer;
        // }

    }


    //----------------------------------------------FOOTER-----------------------------------//
    .footer {
        width: 100%;
        max-width: 1200px;
        background-color: #000d42;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }



}