@import "./animation";

.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    background-image: url(./images/BG_frame.png);
  
    background-size: 100%;
    overflow: hidden;


    section {
        width: 100%;
        position: relative;
        // overflow: hidden;
    }

    .section::before,
    .section::after {
        content: '';
        width: 100%;
        position: absolute;
        background-size: 100% auto;
        z-index: -1;
    }

    //----------------------------------------------SECTION-COLLECTOR-----------------------------------//
    .section-collector {
        // padding-top: 50px;
        position: relative;
        max-width: 100%;
        // min-height: 194vh;
        padding-bottom: 96px;
        
        &::before {
            content: "";
            width: 100%;
            min-height: 100%;
            background-image: url(images/BG_4.png);
            background-size: 100% auto;
            position: absolute;
            top: 0;
            z-index: -99;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        &-top {
            position: relative;
            text-align: center;
            padding-top: 110px;
            padding-bottom: 115px;
        }

        &-left {
            position: absolute;
            left: 45px;
            top: -24px;
            z-index: -2;
        }

        &-center {
            position: relative;
            height: 250px;
            object-fit: contain;
            z-index: 1;
        }

        &-right {
            position: absolute;
            right: 45px;
            top: 37px;
            z-index: -2;
        }

        &-image-title {
            padding-bottom: 44px;
        }

        &-click-season {
            padding: 0 0 20px;
        }

        .season-group {
            position: relative;
            height: 1026px;
            width: 100%;
            display: flex;
            justify-content: center;

            
            .season-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                width: 85%;
                height: 66px;
                z-index: 999;
                top: 6px;

                #img-s1{
                    opacity: 0.5;
                }

                .season-title-right:hover{
                    #img-s1{
                        opacity: 1 !important;
                        transition: 0.3s
                    }
                }
                
                .season-title-left:hover{
                    #img-s2{
                        opacity: 1 !important;
                        transition: 0.3s
                    }
                }
              
                

                &-left,
                &-right {
                    flex: 0 0 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

            }

            &-2.active {
                z-index: 2;
            }

            &-2.hide {
                z-index: 1;
                filter: brightness(0.7);
            }

            &-2 {
                background-image: url(images/bg-season-2.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 98%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;

                .carousel {
                    overflow: hidden;
                }

                .content-carousel {
                    width: 100%;
                    min-height: 753px;
                    max-height: 800px;
                }
            }


            &-1.hide {
                z-index: 1;
                
                filter: brightness(0.7);
            }

            &-1 {
                background-image: url(images/bg-season-1.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 98%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                
                .carousel {
                    overflow: hidden;
                }

                .content-carousel {
                    width: 100%;
                    min-height: 753px;
                    max-height: 800px;
                }
            }

            .owl-dots{
                display: none;
            }

            .content-season {
                margin-top: 90px;
                width: 100%;
                height: 100px;

                .carousel-control-prev-s2{
                    opacity: 1; 
                    height: 50px; 
                    width: 50px; 
                    position: absolute; 
                    top: 49%; 
                    left: -11%;
                }

                .carousel-control-next-s2{
                    opacity: 1; 
                    height: 50px; 
                    width: 50px; 
                    position: absolute; 
                    top: 49%; 
                    right: -11%;
                }
            }
        }

        &-download,
        .img-prev,
        .img-next {
            animation: pulse 1s infinite;
        }

    }

   


    //----------------------------------------------FOOTER-----------------------------------//
    .footer {
        width: 100%;
        max-width: 1200px;
        background-color: #000d42;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }


    .owl{
            height: 100vh;
            display: flex;
            justify-content: center;
        
          
          
    }
}